p.blau{
    color: blue;
}
span.azul{
    color: aqua;
}
span.rojo{
    color: red;
}
p {
    font-family: 'Courier New', Courier, monospace;
  }

p.especial1 {
    color: blue;
  }

p.especial2 {
    color: green;
}

/*clase universal*/.setmana{
    color: red;
}
